.main{
    z-index: 1;
}

.main:before{
    content: "";
    position: absolute;
    z-index: -1;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("tech2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;
}

.box, .box1{
    margin: 40px auto;
    padding: 40;
    margin-top: 80px;
    max-width: 500px;
    list-style: none;
    background: rgba(19, 35, 47, 0.8);
    border-radius: 15px;
    color: white;
    text-align: center;
}

.box li, .box1 li{
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.box li input{
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 4px;
}

.box li button{
    width: 200px;
    height: 30px;
    background: #447799;
    outline: none;
    border: 0;
    font-family: cursive;
    font-size: 15px;
    cursor: pointer;
}

.box li button:hover{
    background: #336778;
}

.box1{
    margin-top: 10px;
    text-align: left;
}