<!DOCTYPE HTML>
<html>
	<head>
		<!--<meta charset="UTF-8">-->
		<title>Home Page</title>
        <link href="/stylesheets/design.css" rel="stylesheet"/>
        <!-- Angular library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/jquery3.0.0-min.js"></script>
        <script src="/javascripts/script.js"></script>
    </head>
	<body ng-app="groupContact">
      <div class="row">
       <div class="col-md-6 col-md-offset-3">
         <ui-view></ui-view>
       </div>
      </div>
        <script type="text/ng-template" id="/login.html">    
        <!-- LOGIN PAGE PART -->
        <div id="loginp">
            <!-- Heading part will be changed
         <div class="heading">
          <ul class="menu">
            <li class="name"><b>Group Contact Sharing App</b></li>
            <li class="about">About</li>
          </ul>
        </div> -->
        <div class="form">
        
         <ul class="main-tab">
            <li class="tab active"><a href="#register">Register</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
         </ul>
         
         <div class="content">
           <div id="register">
             <h1>Join Here for Free</h1> 
               <div class="top">
                <div class="field">
                   <input type="text" required autocomplete="off" placeholder="First Name*"/>
                </div>
                <div class="field">
                   <input type="text" required autocomplete="off" placeholder="Last Name*"/>
                </div>
               </div>   

               <div class="field">
                <input type="text" autocomplete="off" placeholder="Phone number"/>
               </div>

               <div class="field">
                <input type="email" required autocomplete="off" placeholder="Email*" />
               </div>

               <div class="field">
                <input type="password" required autocomplete="off" placeholder="Set Password*">
               </div>
               
               <a href="#/home"><button class="button-enter button-block">Sign Up</button></a>
                        
           </div>

           <div id="login">
             <h1>Welcome Back!!</h1>
                        
             <div class="field">
                <input type="email" required autocomplete="off" placeholder="Email*" />    
             </div>

             <div class="field">
                <input type="password" required autocomplete="off" placeholder="Password*">
             </div>

             <p class="forgot"><a href="#">Forgot Password?</a></p>

             <a href="#/home"><button class="button-enter button-block">Log In</button></a>
                        
           </div>
         </div>
        </div>
       </div>
      </script>
    <script type="text/ng-template" id="/home.html">
        <!-- HOME PAGE PART -->
        <div id="homep">
            <!-- Side bar -->
            <ul class="sidenav">
            <li><img src="images/face.jpg" alt="Smiley face" height="70" width="70"><h3 class="username" valign="middle">User Name</h3></li>
              <li><a class="active-tab" href="#/home">Home</a></li>
              <li><a href="#/contacts">All Contacts</a></li>
              <li class="off"><a id="menu" href="#/groups">Groups</a>
                  <ul id="list"> <li ng-repeat="group in groups"> <a href="#/group/{{$index}}">{{group.name}} </a></li></ul>
              </li>
              <li><a href="#Favourites">Favourites</a></li>
              <li><a href="#Recent">Recently Used</a></li>
              <li><a href="#print">Print</a></li>
              <li><a href="#help">Help</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#feedback">Send Feedback</a></li>
            </ul>
            <!-- Main view content -->
            <div class="main-content">
                <input type = "text" id = "search" placeholder = "Search by name or part of number" size="60" />
                <button class="button">Search!</button><br><br><br><br>  <!-- these line breaks need to be removed may be -->

                <ul id="contact-options">
                    <li><button class="button"><!--<a class="link" href="#groups">-->Groups</button></li>
                    <li><button class="button"><!--<a class="link" href="#">-->Edit Contact</button></li>
                    <li><button class="button"><!--<a class="link"  href="#form">-->Add Contact</button></li>
                    <li><button class="button">Download to Device</button></li>
                    <li><button class="button">Save in Google Contact</button></li>

                </ul>
                This is the home page. To begin, click All Contacts or Groups.
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/contacts.html">
        <!-- HOME PAGE PART -->
        <div id="homep">
            <!-- Side bar -->
            <ul class="sidenav">
            <li><img src="images/face.jpg" alt="Smiley face" height="70" width="70"><h3 class="username" valign="middle">User Name</h3></li>
              <li><a class="active-tab" href="#/home">Home</a></li>
              <li><a href="#/contacts">All Contacts</a></li>
              <li class="off"><a id="menu" href="#/groups">Groups</a>
                  <ul id="list"> <li ng-repeat="group in groups"> <a href="#/group/{{$index}}">{{group.name}} </a></li></ul>
              </li>
              <li><a href="#Favourites">Favourites</a></li>
              <li><a href="#Recent">Recently Used</a></li>
              <li><a href="#print">Print</a></li>
              <li><a href="#help">Help</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#feedback">Send Feedback</a></li>
            </ul>
            <!-- Main view content -->
            <div class="main-content">
                <input type = "text" id = "search" placeholder = "Search by name or part of number" size="60" />
                <button class="button">Search!</button><br><br><br><br>  <!-- these line breaks need to be removed may be -->

                <ul id="contact-options">
                    <li><button class="button"><!--<a class="link" href="#groups">-->Groups</button></li>
                    <li><button class="button"><!--<a class="link" href="#">-->Edit Contact</button></li>
                    <li><button class="button"><!--<a class="link"  href="#form">-->Add Contact</button></li>
                    <li><button class="button">Download to Device</button></li>
                    <li><button class="button">Save in Google Contact</button></li>

                </ul>
               
                <!-- Listing and adding new contacts -->
                
                <div id="contacts">
                    <!-- Adding a new contact -->
                    <form id="form" ng-submit="addContact()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" ng-model="name" /> 
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone" ng-model="phone" /> 
                        </div>
                        <button type="submit" class="addnew">Add contact</button>
                    </form>
                    <br>
                    
                    <!-- Displaying all contacts -->
                    <div ng-repeat="contact in contacts">
                        {{contact.name}} - {{contact.phone}}
                    </div>
                <br> <br>
                </div>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/groups.html">
        <!-- HOME PAGE PART -->
        <div id="homep">
            <!-- Side bar -->
            <ul class="sidenav">
            <li><img src="images/face.jpg" alt="Smiley face" height="70" width="70"><h3 class="username" valign="middle">User Name</h3></li>
              <li><a class="active-tab" href="#/home">Home</a></li>
              <li><a href="#/contacts">All Contacts</a></li>
              <li class="off"><a id="menu" href="#/groups"> Groups</a>
                  <ul id="list"> <li ng-repeat="group in groups"> <a href="#/group/{{$index}}"> {{group.name}} </a></li></ul>
              </li>
              <li><a href="#Favourites">Favourites</a></li>
              <li><a href="#Recent">Recently Used</a></li>
              <li><a href="#print">Print</a></li>
              <li><a href="#help">Help</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#feedback">Send Feedback</a></li>
            </ul>
            <!-- Main view content -->
            <div class="main-content">
                <input type = "text" id = "search" placeholder = "Search by name or part of number" size="60" />
                <button class="button">Search!</button><br><br><br><br>  <!-- these line breaks need to be removed may be -->

                <ul id="contact-options">
                    <li><button class="button"><!--<a class="link" href="#groups">-->Groups</button></li>
                    <li><button class="button"><!--<a class="link" href="#">-->Edit Contact</button></li>
                    <li><button class="button"><!--<a class="link"  href="#form">-->Add Contact</button></li>
                    <li><button class="button">Download to Device</button></li>
                    <li><button class="button">Save in Google Contact</button></li>

                </ul>
                
                <div id="groups">
                    <!-- Adding a new group -->
                    <form ng-submit="newGroup()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Group Name" ng-model="gname" /> 
                        </div>
                        <button type="submit" class="addnew">Add group</button>
                    </form>
                    <br/>
                    
                    <!-- Choosing members of group --> 
                    <div ng-repeat="group in groups">
                        {{group.name}} 
                        <form ng-submit="addGroup(contact.name,group.name)">
                            <select ng-model="contact.name" data-ng-options="contact as contact.name for contact in contacts" >
                                <option value="">--Select--</option>
                            </select>
                            <button type="submit" class="add"> Add! </button>
                        </form>
                        <br/>
                        
                        <!-- Displaying all members of a group --> 
                        <div ng-repeat="member in group.members">
                            {{member.name}} - {{member.phone}} 
                        </div>
                        <br/>
                    </div>
                </div>
                
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="/group.html">
        <!-- HOME PAGE PART -->
        <div id="homep">
            <!-- Side bar -->
            <ul class="sidenav">
            <li><img src="images/face.jpg" alt="Smiley face" height="70" width="70"><h3 class="username" valign="middle">User Name</h3></li>
              <li><a class="active-tab" href="#/home">Home</a></li>
              <li><a href="#/contacts">All Contacts</a></li>
              <li class="off"><a id="menu" href="#/groups"> Groups</a>
                  <ul id="list"> <li ng-repeat="group in groups"><a href="#/group/{{$index}}"> {{group.name}} </a></li></ul>
              </li>
              <li><a href="#Favourites">Favourites</a></li>
              <li><a href="#Recent">Recently Used</a></li>
              <li><a href="#print">Print</a></li>
              <li><a href="#help">Help</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#feedback">Send Feedback</a></li>
            </ul>
            <!-- Main view content -->
            <div class="main-content">
                <input type = "text" id = "search" placeholder = "Search by name or part of number" size="60" />
                <button class="button">Search!</button><br><br><br><br>  <!-- these line breaks need to be removed may be -->

                <ul id="contact-options">
                    <li><button class="button"><!--<a class="link" href="#groups">-->Groups</button></li>
                    <li><button class="button"><!--<a class="link" href="#">-->Edit Contact</button></li>
                    <li><button class="button"><!--<a class="link"  href="#form">-->Add Contact</button></li>
                    <li><button class="button">Download to Device</button></li>
                    <li><button class="button">Save in Google Contact</button></li>

                </ul>
                
                <div id="groups">
                      <b>{{group.name}}</b>
                      <br>
                        <!-- Displaying all members of a group --> 
                        <div ng-repeat="member in group.members">
                            {{member.name}} - {{member.phone}} 
                        </div>
                        <br/>
                        <a href="#/groups"><button class="button">Back to Groups </button> </a>
                    </div>
                </div>
                
            </div>
        </div>
    </script>
	</body>
</html>